@mixin grid($size: 960px, $increment: 5, $gutter: 0) {
  $top-level: &;

  @include clear;

  display: block;
  margin: 0 auto;
  max-width: $size;

  & > &-row {
    @include clear;

    & + #{$top-level}-row {
      margin-top: $gutter;
    }

    @include mq-large {
      margin-left: -$gutter;

      & > #{$top-level}-column:first-child {
        padding-left: $gutter;
      }
    }
  }

  & > &-column, & > &-row > &-column {
    width: 100%;

    & + #{$top-level}-column {
      padding-top: $gutter;
    }

    @include mq-large {
      float: left;

      & + #{$top-level}-column {
        padding-top: 0;
        padding-left: $gutter;
      }

      @for $i from 0 through 100 {
        @if $i % $increment == 0 {
          &--#{$i} { width: $i * 1%; }
        }
      }
    }
  }
}