@import "general";
@import "responsive";

@mixin grid($size: 100%, $columns: 12, $horizontal-gutter: 0, $vertical-gutter: 0) {
  @include clear;

  max-width: $size;
  margin: 0 auto;

  > .row {
    @include clear;

    &:last-child {
      @if $horizontal-gutter != 0 {
        margin-bottom: -$horizontal-gutter;
      }
    }

    > .column {
      width: 100%;
      float: left;
      margin-bottom: $vertical-gutter;

      @include mq-small {
        &--small {
          width: 50%;
        }
      }

      @include mq-medium {
        @for $i from 0 through $columns {
          &--#{$i} {
            width: ($i / $columns) * 100%;
          }
    
          &--offset-#{$i} {
            margin-left: ($i / $columns) * 100%;
          }
        }
      }
    }

    @if $horizontal-gutter != 0 {
      margin-left: -$horizontal-gutter;

      > .column {
        padding-left: $horizontal-gutter;
      }
    }
  }
}