@import "general";

@mixin grid($size: 960px, $columns: 12, $gutter: 0) {
  @include clear;

  max-width: $size;
  margin: 0 auto;

  > .row {
    @include clear;

    @if $gutter != 0 {
      margin-left: -$gutter;

      > .column {
        padding-left: $gutter;
      }
    }
  }

  > .row > .column, > .column {
    float: left;
    width: 100%;
    min-height: 1px;

    @for $i from 0 through $columns {
      &-#{$i} {
        width: ($i / $columns) * 100%;
      }

      &-offset-#{$i} {
        margin-left: ($i / $columns) * 100%;
      }
    }
  }
}