$aurora-theme-primary: #086291 !default;
$aurora-theme-stark: #474747 !default;
$aurora-theme-dim: #D6D6D6 !default;
$aurora-theme-red: #A8383B !default;
$aurora-theme-font-size: 14px !default;
$aurora-theme-border-radius-small: 4px !default;
$aurora-theme-border-radius-large: 8px !default;
$aurora-theme-strong-border-color: #CCC !default;
$aurora-theme-control-size: 28px !default;